// - - - - - - - - - - MAIN COLOR PALETTE - - - - - - - - - -

$primary-color: #333;
$secondary-color: #333;
$tertiary-color: #333;

$primary-text-color: #333;
$secondary-text-color: #333;
$tertiary-text-color: #333;


// - - - - - - - - - - MEASUREMENT VARIABLES - - - - - - - - - -